<div id="main_content">
  <app-sidebar></app-sidebar>
  <div class="page">
    <app-header></app-header>

    <div class="section-body mt-3">
      <div class="container-fluid">
        <div class="col-lg-12">
          <div class="">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                  Books Dashboard
                </li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-12">
            <div *ngIf="!viewBooks">
              <div class="row">
                <div class="col-8">
                  <div class="mb-4">
                    <h4>Manage Books</h4>
                  </div>
                </div>
                <div class="col-4">
                  <button
                    class="addButton float-right btn btn-primary"
                    (click)="showBookForm()"
                  >
                    <span class="css-button-icon"
                      ><i class="fa fa-plus" aria-hidden="true"></i
                    ></span>
                    <span class="css-button-text">Add</span>
                  </button>
                </div>
              </div>
            </div>

            <div *ngIf="viewBooks">
              <div class="row">
                <div class="col-8">
                  <div class="mb-4">
                    <h4>Book Form</h4>
                  </div>
                </div>
                <div class="col-4">
                  <button
                    class="addButton float-right btn btn-primary"
                    (click)="showBookList()"
                  >
                    <span class="css-button-icon"
                      ><i class="fa fa-arrow-left" aria-hidden="true"></i
                    ></span>
                    <span class="css-button-text">Back</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix row-deck" *ngIf="!viewBooks">
          <div class="col-md-12 text-center" *ngIf="spinner" style="display: block;">
            <!-- <sa-spinner-circular></sa-spinner-circular> -->
            <i class="fa fa-spinner fa-spin fa-2x"></i>
          </div>
          <div class="col-md-12">
            <div class="card userMain">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Book</th>
                    <th scope="col">Author</th>
                    <th scope="col">description</th>
                    <th scope="col">Logo</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of bookData let ndx = index">
                    <th scope="row">{{ndx+1}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.author}}</td>
                    <td>
                      {{ (item.description.length > 30) ? (item.description | slice:0:30) + '...' : item.description }}
                      </td>
                    <td><img src = "{{ imagePath }}{{item.logo}}" width="50px;"/></td>
                  <td>
                    <span class="badge badge-primary" (click)="edit(item)">Edit</span>&nbsp;&nbsp;
                    <span class="badge badge-danger"(click)="delete(item.id)">Delete</span>
                  </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row clearfix row-deck" *ngIf="viewBooks">
          <div class="col-xl-12 col-lg-12">
            <div class="card">
              <div class="card-body">
                <form
                  [formGroup]="bookForm"
                  (ngSubmit)="submit()"
                  id="contact-form"
                  method="post"
                  action=""
                  role="form"
                >
                  <div class="messages"></div>
                  <div class="controls">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="com_name">Book Name</label>
                          <input
                            formControlName="book"
                            type="text"
                            name="com_name"
                            class="form-control"
                            placeholder=""
                            required
                            [ngClass]="{
                              'is-invalid': submitted && f.book.errors
                            }"
                            required
                          />
                          <div
                            *ngIf="submitted && f.book.errors"
                            class="invalid-feedback"
                          >
                            <div *ngIf="f.book.errors.required">
                              Book Name is required
                            </div>
                          </div>
                        </div>
                      </div>
                    
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="com_name">Author Name</label>
                          <input
                            formControlName="author"
                            type="text"
                            name="com_name"
                            class="form-control"
                            placeholder=""
                            required
                            [ngClass]="{
                              'is-invalid': submitted && f.author.errors
                            }"
                            required
                          />
                          <div
                            *ngIf="submitted && f.author.errors"
                            class="invalid-feedback"
                          >
                            <div *ngIf="f.author.errors.required">
                              Author Name is required
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="com_logo">Book Logo</label>
                          <input
                            (change)="onFileChange($event)"
                            type="file"
                            name="logo"
                            class="form-control"
                            placeholder=""
                            required
                            data-error="logo is required."
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">

                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="com_cont">Description</label>
                          <textarea
                            formControlName="description"
                            type="text"
                            name="compa_email"
                            class="form-control"
                            placeholder=""
                            required
                            [ngClass]="{
                              'is-invalid':
                                submitted && f.description.errors
                            }"
                            required
                          ></textarea>
                          <div
                            *ngIf="
                              submitted && f.description.errors
                            "
                            class="invalid-feedback"
                          >
                            <div
                              *ngIf="f.description.errors.required"
                            >
                            Description is required
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-8">
                        <div class="mb-4"></div>
                      </div>
                      <div class="col-4">
                        <button
                          type="submit"
                          class="btn btn-success saveButton float-right"
                          [disabled]='spinner'
                        >
                          Save
                        </button>
                        <button
                        style="margin-right:10px;"
                          type="button"
                          class="btn btn-primary cancleButton float-right"
                          (click)="showBookList()"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
