.auth .auth_right.full_img {
    height: 100vh;
    background-image: url(../../assets/images/gallery/login.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

@media only screen and (max-width: 1024px) {
.auth .auth_right.full_img {
    width: 70%;
    background-size: 200% 100%;
   }
}

.card{
    border: 2px solid #a8bece;
}